*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-display: column;
    background: rgb(224, 224, 224) !important;
}

.content{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.wrapper{
    padding: 20px;
    background: #fff;
    width: 1300px;
    min-height: 100px;
    box-shadow: 0 2px 10px rgb(112, 111, 111);
}
.input-group>.form-control, .input-group>.form-select {
   width: 100% !important;
}

.input-group{
    padding-bottom: 5px;
    margin: 5px;
}

.btn{
    padding: 5px;
    margin-bottom: 5px;
    background: rgb(24, 231, 145) !important;
    color: #fff !important;
    width: 100px;
    text-align: center;
}
.btn :hover{
    padding: 5px;
    margin-bottom: 5px;
    background: rgb(99, 86, 221) !important;
    color: #fff !important;
}

/*comment Card*/
.wrapper .prev-comments .single-item {
    background: #fff;
    box-shadow: 0 1px 5px rgb(139, 137, 137);
    padding: 10px 20px;
    text-align: left;
    display: flex;
}
.column{
    padding: 1px;
}
.margin{
    margin-right: 5px ;
}
.wrapper .prev-comments .single-item h4{
    font-size: 1rem;
    font-weight: 700;
    color: #111;
}



/*Blog Section*/
.header {
    padding: 30px;
    font-size: 20px;
    text-align: center;
    color: #fff !important;
    background: rgb(51, 197, 149);
  }

  .card {
    background-color: white;
    padding: 20px;
  }
  .Img{
    max-width: 100%;
    width: 2000px;
    box-shadow: 0 1px 10px rgb(107, 105, 105);
    margin-bottom: 20px;
    margin-top: 20px;
  }


 /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 1024px) {
    
    .wrapper{
        padding: 5px !important;
        background: #fff;
        width: 1000px !important;
        min-height: 100px;
        box-shadow: 0 2px 10px rgb(112, 111, 111);
    }
}
 /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 768px) {
    
    .wrapper{
        padding: 5px !important;
        background: #fff;
        width: 700px !important;
        min-height: 100px;
        box-shadow: 0 2px 10px rgb(112, 111, 111);
    }
}
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    body {
      font-family: 'Poppins', sans-serif;
      padding-right: 0px;
      padding-left: 0px;
      background: #f1f1f1;
    }
    .wrapper{
        padding: 5px !important;
        background: #fff;
        width: 350px !important;
        min-height: 100px;
        box-shadow: 0 2px 10px rgb(112, 111, 111);
    }
}

  
 